* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0 auto;
}

body {
  width: 90%;
}

input[type='checkbox'] {
  transform: scale(1.5);
}

.menu-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.matrix-card {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5em;
}

.button {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.43);
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.25rem;
  transition: box-shadow 0.5s ease-out;
}

.button:hover {
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
}

.matrix:hover,
button:hover {
  cursor: pointer;
}

.readonly-matrix-cell {
  padding: 0.9rem;
  padding-top: 1rem;
  text-align: center;
}

.product-steps-container {
  display: flex;
  margin-bottom: 2rem;
}

.product-step-container {
  display: flex;
}

.product-step-item {
  display: flex;
  align-items: center;
}

.equals {
  font-size: 1rem;
  margin: 0 2rem;
}

.times-icon {
  margin: 0 2rem;
}

@media screen and (max-width: 1024px) {
  html,
  body {
    margin: 0 auto;
    width: 100%;
  }

  .menu-grid {
    flex-direction: column;
    align-items: center;
  }

  .menu-header {
    width: 90%;
  }

  .menu-header > fieldset {
    width: 100%;
  }

  .menu-header,
  .menu-header > fieldset {
    margin: 0 auto !important;
  }

  .matrix-card {
    padding: 1rem;
    margin-right: 0;
  }

  .readonly-matrix-cell {
    padding: 0.4rem;
    font-size: 0.65rem;
  }

  .product-steps-container,
  .product-step-container,
  .product-step-item {
    flex-direction: column;
  }

  .equals {
    margin: 1rem 0.5rem;
  }

  .times-icon {
    margin: 1rem 0.5rem;
  }
}
